/* Navigation Bar */
#navbar {
    position: fixed;
}

/* Personal Contacts */
#professional-contacts {
    text-align: center;
}

.my-professional-email {
    font-size: 2.5rem;
    padding-top: 8.125rem;
    padding-bottom: 1.3rem;
}

/* Media Queries */
@media (max-width: 768px) {

    .my-professional-email {
        padding-top: 4.4rem;
        padding-bottom: 0.3rem;
    }

}