/* Everything */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

/* HTML */
:root {
  --background-color: #fff;
  --text-color: #000;
  --link-color: #17a2b8;
  --button-color: #fff;
  --border-color: #000;
  --mode-switcher-text-color: #f0ad4e;
}

:root[user-color-mode="dark"] {
  --background-color: #073642;
  --text-color: #fff;
  --link-color: #f0ad4e;
  --button-color: #000;
  --border-color: #fff;
  --mode-switcher-text-color: #17a2b8;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
p,
.swal2-title,
.swal2-content,
.navbar-brand-home,
.nav-text,
.dropdown-toggle,
.dropdown-toggle:hover {
  color: var(--text-color);
}

/* Links */
a,
a:hover {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

/* Background Colors */
body,
.swal2-popup,
#loading-screen,
#navbar,
.navbar-collapse {
  background-color: var(--background-color);
}

.swal2-actions .swal2-styled {
  background-color: var(--button-color);
}

/* Border Colors */
.swal2-actions .swal2-styled,
#navbar,
.dropdown-menu,
.dropdown-divider {
  border-color: var(--border-color);
}

/* Popup */
.swal2-actions .swal2-styled {
  color: var(--link-color);
  font-weight: bold;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  height: 100vh;
  z-index: 2;
  text-align: center;
  padding-top: 10%;
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
}

.navbar-toggler-icon {
  background-image: url("../images/hamburger-transparent-icon.svg");
  width: 3.125rem;
  height: 3.125rem;
}

.info-logo-navbar {
  width: 5rem;
  margin-top: -10%;
}

.navbar-brand-home {
  font-size: 3rem;
  color: var(--text-color);
}

.nav-text {
  font-size: 1.25rem;
  color: var(--text-color);
}

.dropdown-item {
  font-size: 1.25rem;
}

.dropdown-item:hover {
  color: var(--text-color);
}

.dropdown-item:hover .nav-text {
  color: var(--background-color);
}

.dropdown-menu {
  background-color: var(--background-color);
}

.dropdown-item:hover {
  background-color: var(--text-color);
}

.theme-switch {
  background-color: var(--background-color);
  border-width: 0px;
}

.theme-switcher-text {
  color: var(--mode-switcher-text-color);
}

/* Footer */
#footer {
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-links {
  text-align: left;
}

.footer-icons {
  width: 3.125rem;
  margin-right: 20%;
}

.footer-icon-link-copy-me {
  width: 2.25rem;
  height: 2.25rem;
}

.footer-site-info {
  text-align: center;
  font-size: 1.5rem;
}

.footer-site-info-icons {
  width: 30px;
}

.footer-site-info .copyright {
  font-size: 1.25rem;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Loading Screen */
  #loading-screen {
    padding-top: 15%;
  }

  .loading-screen {
    width: 25rem;
  }

  /* Navigation Bar */
  .navbar-brand {
    margin-top: -1.5%;
    margin-bottom: -1.5%;
  }

  .info-logo-navbar {
    width: 5rem;
  }

  .navbar-brand-home {
    font-size: 4rem;
  }

  .nav-item {
    font-size: 1.8rem;
  }

  .dropdown-item {
    font-size: 1.8rem;
  }

  .navbar-github-logo {
    width: 4rem;
    margin-left: 0.1rem;
  }

  /* Footer */
  #footer {
    padding-top: -5%;
    text-align: center;
  }

  .footer-links {
    margin-left: 45%;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    padding-right: 25%;
  }

  .footer-icons {
    width: 5.5rem;
  }

  .footer-site-info {
    text-align: center;
    font-size: 1.25rem;
  }

  .footer-site-info-icons {
    width: 3.5rem;
  }

  .footer-site-info .copyright {
    font-size: 1.25rem;
  }

}

@media (max-width: 768px) {

  /* Loading Screen */
  #loading-screen {
    position: fixed;
    padding-top: 25%;
  }

  .loading-screen {
    width: 20rem;
  }

  /* Navigation Bar */
  .navbar-brand {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }

  .info-logo-navbar {
    width: 4rem;
  }

  .navbar-brand-home {
    font-size: 2.5rem;
  }

  .nav-item {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .dropdown-item {
    font-size: 1.3rem;
    line-height: 1rem;
    line-height: 1.2;
  }

  .navbar-github-logo {
    width: 2.7rem;
    margin-left: -8px;
  }

  /* Footer */
  .footer-links {
    padding-right: 32%;
    margin-top: -0.12rem;
    margin-left: 41.45%;
  }

  .footer-icons {
    width: 3.5rem;
  }

  .footer-site-info {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .footer-site-info-icons {
    width: 2rem;
  }

  .footer-site-info .copyright {
    font-size: 1.1rem;
  }

}